.searchItem {
	width: 100%;
	border-top: 1px solid var(--backgroundGray);
	display: flex;
	justify-content: space-between;
	height: 5rem;
	padding: 0.5rem 0.25rem;
	cursor: pointer;

	.left {
		display: flex;
		align-items: center;
		overflow: hidden;

		img {
			height: 100%;
			width: 4rem;
			margin-right: 1rem;
			object-fit: cover;
		}

		h4 {
			font-weight: 400;
			font-size: 1rem;
		}
	}

	.right {
		min-width: 6rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 0.25rem 0;

		.price {
			font-weight: 700;
		}

		button {
			cursor: pointer;
			padding: 0.25rem;
			width: 100%;
			background-color: var(--blue);
			color: white;
			border-radius: 0.25rem;
		}
	}
}

.nothingFound {
}
